.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: #19bb0c;
    padding: 10px;
    border-radius: 5px;
}
.row {
    display: flex;
}
.display {
    text-align: right;
    letter-spacing: 1px;
    font-size: 25px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}
.button {
    background-color: #eee;
    font-size: 22px;
    padding: 10px 15px;
    margin: 7px;
    border-radius: 4px;
    flex: 1;
    text-align: center;
    box-shadow: 0 6px rgba(0,0,0,.8);
    text-decoration: none;
}
.button:not(.inactive):hover {
    background-color: #ddd;
}
.button:active {
    background-color: #417cb8;
    box-shadow: 0 3px #000;
    transform: translateY(3px);
}