
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
}
.wrapper {
    text-align: center;
}
.wrapper h1 {
    margin: 0;
}
.wrapper [class^="row"] {
    display: flex;
}
.wrapper .box {
    width:100px;
    height: 100px;
    display: inline-block;
    background-color: #000;
    opacity: 0;
}
.etch-wrapper {
    background-color: #BC0005;
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
}
.etch-screen {
    font-size: 0;
    width: 500px;
    margin: 0 50px;
    background-color: #A1A09C;
}
.etch-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.knob {
    background-color: #fafafa;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    display: none;
}
.popup {
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 600px;
    height: 400px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.32);
    z-index: 999;
}
.show {
    display: block;
    visibility: visible;
}
.hide {
    display: none;
}
.popup .popup-wrapper {

}
.popup-content {
    margin: 50px auto;
    width: 350px;
    text-align: center;
}
.popup-content p {
    text-align: left;
}
.popup-content label {
    display: inline-block;
}
.popup-content input {
    float: right;
}
button {
    border: 0;
}
.btn {
    background-color: #00009a;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}
.btn.disabled, .btn[disabled] {
    background-color: #f3f3f3;
    color: #666;
}